
.form-control,
.form-select {
  border: 1.2px solid #adb5bd; 
  border-radius: 0.375rem; 
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.form-control:focus,
.form-select:focus {
  border-color: #86b7fe; 
  box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.15);
}


.input-group .form-control,
.input-group .form-select {
  border-color: #adb5bd;
}


.form-check-input {
  border-color: #6c757d; 
}


.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}


textarea.form-control {
  resize: vertical;
}


.form-control,
.form-select {
  background-color: #fcfcfc;
}

.red{
    color: red;
}

.black{
    color: black;
    font-weight: 600;
}





